<mat-sidenav-container>
<!-- Change Password Form -->
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <img *ngIf="settings.menu == 'horizontal'" src="../../assets/CEO.png" routerLink="/dashboard" alt="logo"
                        class="logo-default logo-img img img-responsive imgmediamain logoimg" style="max-width: 167px; margin-top: 7px; margin-left:5px;">
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <span class="box-content-header" style="margin-bottom: 15px; color: #283593;">Reset Password</span>

                        <mat-form-field class="w-100">
                            <input matInput type="password" placeholder="New Password" formControlName="password">
                            <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough,
                                minimum of 6 characters</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100" style="padding-bottom:14px;">
                            <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmPassword">
                            <mat-error *ngIf="form.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                            <mat-error *ngIf="form.controls.confirmPassword.hasError('minlength')">Confirm Password isn't long enough,
                                minimum of 6 characters</mat-error>
                        </mat-form-field>

                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">SUBMIT</button>
                </mat-card-content>
            </mat-card>

        </form>

    </div>

</mat-sidenav-container>