
.disablerow{
    cursor: not-allowed !important;
    pointer-events:none !important;
    background-color: #79747457 !important;
    border: 1px solid #ddd !important;
  }

.close{
    float: right;
    color: black;
}

.radio-inline{
    margin-left: 15px;
}


  //For Permissions modal dailog
  @media (min-width: 768px){
  .modal-custom{
        width: 800px !important;
        margin: 30px auto;
  }
}



.removeborder:hover{
    background-color: #fafafa !important;
}

