<div class="col-sm-12">
    
    <!-- For Dashboard Pills -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                    {{TotalCompliance}}
                    </div>
                    <div class="desc">
                       <b>Overall Complaince</b> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{PresentMonthCompliance}}
                    </div>
                    <div class="desc">
                      <b>Current Month Complaince</b> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{TotalExceptions}}
                    </div>
                    <div class="desc">
                      <b> Overall Exceptions</b> 
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple-plum">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{presentMonthExceptions}}
                    </div>
                    <div class="desc">
                     <b>Current Month Exceptions</b>   
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- For Dashboard Charts -->
    <div class="row">
            <div class="col-sm-12" [chart]="barChartDataforExceptions"></div>
            <div class="">
                    <div class="col-sm-6" style="margin-top:20px !important;" [chart]="exceptionDimensionSpecific"></div>
                    <div class="col-sm-6" style="margin-top:20px !important;" [chart]="exceptionCategorySpecific"></div>
            </div>
           
        <!-- <div [chart]="dimensionsummarychart" class="col-sm-6 charts"></div>
        <div [chart]="krasummarychart" class="col-sm-6 charts"></div>
        <div [chart]="kpisummarychart" class="col-sm-6 charts"></div>
        <div [chart]="exceptionschart" class="col-sm-6 charts"></div> -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-bordered table-scrollable-borderless table-striped margin-top">
                    <thead>
                <tr>        
                        <th class="thblue">KRA</th>
                        <th class="thblue">KPI</th>
                        <th class="thblue">Exceptions</th>
                        <th class="thblue">Compliance</th>
                        <th class="thblue">Frequency</th>
                </tr>
                    </thead>
                    <tbody>
                            <tr *ngIf="last10Exceptions?.length == 0">
                                    <td colspan="5">No record found</td>
                                </tr>
                        <tr *ngFor="let item of last10Exceptions">
                            <td>{{item.KRA_Name}}</td>
                            <td>{{item.KPI_Name}}</td>
                            <td>{{item.Exceptions}}</td>
                            <td>{{item.Compliance}}</td>
                            <td>{{item.WeekId != 0 ? 'Week' + item.WeekId : item.MonthId | MonthNameAppModule}}</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>

</div>

<!-- For Delete Modal Popup -->
<!-- <div class="modal fade" bsModal #noPermissionModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titlemodal">
                    <b>No Access</b> <i (click)="deleteModalToggle(2)" class="fa fa-times pull-right titlemodal"></i>
                </h4>
            </div>
            <div class="modal-body col-md-12">

                <div class="col-sm-12">
                    <label>Are You Sure ? You want to delete record, this action can't be undone.</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="deleteUser()" class="btn btn-danger"><i class="fa fa-check"></i>&nbsp;Delete</button>
                <button type="button" class="btn btn-default" (click)="deleteModalToggle(2)"><i class="fa fa-times"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div> -->