<div class="">

    <!-- For Setup Tree -->
    <div class="col-sm-4">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>&nbsp;&nbsp;Dimensions Setup
            </div>
        </div>
        <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" [propagateSelectionUp]="true"
            (onNodeSelect)="nodeSelect($event)"></p-tree>
    </div>

    <!-- For Setup Tree data -->
    <div class="col-sm-8">
        <!-- For Analytics Update -->
        <div *ngIf="allforms == 'updateanalytics'" class="gridrole col-sm-12 clearfix border-rad">
            <div class="col-sm-12">
                <form [formGroup]="analyticsform" (ngSubmit)="onSubmitAnalytics(analyticsform.value)"
                    #analyticsupdateform="ngForm" class="form-horizontal">
                    <h4 class="modal-title"><span class="bold">Analytics Details</span>
                        <a (click)='adddimension(1)' class="pull-right btn btn-primary"><i class="fa fa-plus"></i> Add Dimension </a></h4>
                    <br>
                    <div class="form-group">
                        <label class="col-md-12 lblfnt required">Analytics Name</label>
                        <div class="col-md-12">
                            <input maxlength="50" formControlName="analyticsName" class="form-control disablecustom"
                                type="text" placeholder="Analytics Name">
                            <mat-error
                                *ngIf="analyticsform.controls.analyticsName.errors?.required && analyticsform.controls.analyticsName.touched">
                                Analytics Name is required</mat-error>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 add-member-label add-member-input lblfnt">Description</label>
                        <div class="col-md-12">
                            <textarea maxlength="500" formControlName="analyticsDescription" class="form-control"
                                placeholder="Description" cols="12" rows="5"></textarea>
                            <!-- <mat-error *ngIf="analyticsform.controls.analyticsDescription.errors?.required && analyticsform.controls.analyticsDescription.touched">
                                Analytics Description is required</mat-error> -->
                        </div>
                    </div>
                    <div class="pull-right margin-top25">
                        <button [disabled]="!analyticsupdateform.form.valid" class="btn btn-success"
                            id="btnupdateFimrDiv" type="submit">Update</button>
                        <button type="button" id="btn_firmdiv" class="btn btn-danger hide" data-toggle="modal"
                            data-target="#Mymodel-FirmDivDelete" data-tooltip="tooltip" data-placement="top" title=""
                            value="" data-original-title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- For Dimension Update and Insert -->
        <div class="" *ngIf="allforms=='adddimension' || allforms == 'updatedimension'">
            <form [formGroup]="dimensionform" (ngSubmit)="onSubmitDimension(dimensionform.value)"
                #dimensionupsertform="ngForm" class="form-horizontal">
                <div class="col-sm-12 clearfix gridrole border-rad">
                    <h4 class="modal-title"><span class="bold padding-left13">{{ allforms ==
                            'adddimension' ? 'Add
                            Dimension' : 'Edit Dimension Details'}}</span>
                        <a *ngIf="allforms == 'updatedimension'" (click)='addKRA(1)'
                            class="pull-right btn btn-primary"><i class="fa fa-plus"></i> 
                            Add KRA </a></h4>
                    <br>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 lblfnt required">Title</label>
                            <div class="col-md-12">
                                <input maxlength="50" formControlName="dimensionName" class="form-control" type="text"
                                    placeholder="Enter Dimension Title">
                                <mat-error
                                    *ngIf="dimensionform.controls.dimensionName.errors?.required && dimensionform.controls.dimensionName.dirty && dimensionform.controls.dimensionName.touched">
                                    Dimension Title is required</mat-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12 add-member-label add-member-input lblfnt">Description</label>
                            <div class="col-md-12">
                                <textarea maxlength="500" formControlName="description" class="form-control"
                                    placeholder="Description" cols="12" rows="5"></textarea>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-md-12 add-member-label add-member-input lblfnt">Scope</label>
                            <div class="col-md-12">
                            <div class="input-icon right">
                                            <i class="fa fa-file-excel-o"></i>
                                <input accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    maxlength="50" class="form-control" type="file"
                                    [ngClass]="{'disablecustom': scopeValue}" (change)="handleFileSelect($event)">
                                <label *ngIf="fileName!=null" class="lblfnt">Existing File:&nbsp;</label> <span>{{fileName}}
                                </span>
                            </div>
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <div class="col-md-12">
                                <mat-checkbox formControlName="scopeApplicable" [(ngModel)]="scopeValue">Select if
                                    scope is not applicable</mat-checkbox>
                            </div>
                        </div> -->
                        <div *ngIf="allforms == 'adddimension'" class="pull-right">
                            <button [disabled]="!dimensionupsertform.form.valid" class="btn btn-success"
                                type="submit">Save</button>
                        </div>
                        <div *ngIf="allforms == 'updatedimension'" class="pull-right">
                            <button [disabled]="!dimensionupsertform.form.valid" class="btn btn-success marginbtn"
                                type="submit">Update</button>
                            <button type="button" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [confirmText]="confirmText" [cancelText]="cancelText" [popoverMessage]="popoverMessage"
                                placement="left" (confirm)="onDeleteDimension(dimensionform.value)"
                                class="btn btn-danger marginbtn" data-toggle="modal" data-tooltip="tooltip"
                                data-original-title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--For Adding and Updating KRA  -->
        <div class="" *ngIf="allforms=='addKRA' || allforms=='updateKRA'">
            <form [formGroup]="KRAform" (ngSubmit)="onSubmitKRA(KRAform.value)" #KRAupsertform="ngForm"
                class="form-horizontal">
                <div class="col-sm-12 clearfix gridrole border-rad">
                    <h4 class="modal-title"><span class="bold padding-left13">{{ allforms == 'addKRA' ?
                            'Add
                            KRA'
                            :'Edit KRA Details'}}</span>
                        <a *ngIf="allforms=='updateKRA'" (click)='addKPI(1)' class="pull-right btn btn-primary"><i class="fa fa-plus"></i> Add KPI
                        </a></h4>
                    <br>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 lblfntv required">Title</label>
                            <div class="col-md-12">
                                <input maxlength="50" formControlName="KRAName" class="form-control" type="text"
                                    placeholder="Enter KRA Title">
                                <mat-error
                                    *ngIf="KRAform.controls.KRAName.errors?.required && KRAform.controls.KRAName.touched">
                                    KRA Title is required</mat-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12 lblfnt">Remarks</label>
                            <div class="col-md-12">
                                <textarea formControlName="description" class="form-control" placeholder="Description"
                                    cols="12" rows="5"></textarea>
                                <!-- <mat-error *ngIf="KRAform.controls.description.errors?.required && KRAform.controls.description.touched">
                                    Please Enter Remarks</mat-error> -->
                            </div>
                        </div>
                        <div *ngIf="allforms == 'addKRA'" class="pull-right margin-top25">
                            <button [disabled]="!KRAupsertform.form.valid" class="btn btn-success" id="btnupdateFimrDiv"
                                type="submit">Save</button>
                        </div>
                        <div *ngIf="allforms == 'updateKRA'" class="pull-right margin-top25">
                            <button [disabled]="!KRAupsertform.form.valid" class="btn btn-success marginbtn"
                                type="submit">Update</button>
                            <!-- <button type="button" (click)="onDeleteKRA(KRAform.value)" class="btn btn-danger marginbtn" data-toggle="modal" data-tooltip="tooltip" data-placement="top" title=""
                             data-original-title="Delete">
                            <i class="fa fa-trash"></i>
                        </button> -->
                            <button type="button" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [confirmText]="confirmText" [cancelText]="cancelText" [popoverMessage]="popoverMessage"
                                placement="left" (confirm)="onDeleteKRA(KRAform.value)" class="btn btn-danger marginbtn"
                                data-toggle="modal" data-tooltip="tooltip" data-original-title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- For KPI Adding and Updating -->
        <div class="" *ngIf="allforms == 'addKPI' || allforms == 'updateKPI'">
            <form [formGroup]="KPIform" (ngSubmit)="onSubmitKPI(KPIform.value)" #KPIupsertform="ngForm"
                class="form-horizontal">
                <div class="col-sm-12 clearfix gridrole border-rad">
                    <h4 class="modal-title">
                        <span class="bold padding-left13">{{ allforms == 'addKPI' ? 'Add KPI':'Edit KPI
                            Details'}}</span></h4>
                    <br>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 lblfnt required">Title</label>
                            <div class="col-md-12">
                                <input maxlength="50" formControlName="KPIName" class="form-control" type="text"
                                    placeholder="Enter KPI Title">
                                <mat-error
                                    *ngIf="KPIform.controls.KPIName.errors?.required && KPIform.controls.KPIName.touched">
                                    KPI Title is required</mat-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12 lblfnt required">Code</label>
                            <div class="col-md-12">
                                <input maxlength="50" formControlName="KPICode" class="form-control" type="text"
                                    placeholder="Enter KPI Code">
                                <mat-error
                                    *ngIf="KPIform.controls.KPICode.errors?.required && KPIform.controls.KPICode.touched">
                                    KPI Code is required</mat-error>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-md-12 lblfnt required">Frequency</label>
                                <div class="col-md-12">
                                        <mat-select formControlName="frequencyId" class="form-control"
                                        placeholder="Select Frequency">
                                        <mat-option *ngFor="let frequency of dimensionFrequency" [value]="frequency['lookupId']">
                                            {{frequency['lookupName']}}</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="KPIform.controls.frequencyId.errors?.required && KPIform.controls.frequencyId.touched">
                                        KPI Frequency is required</mat-error>
                                </div>
                            </div>
                        <div class="form-group">
                            <label class="col-md-12 lblfnt required">Data Type</label>
                            <div class="col-md-12">
                                <mat-select formControlName="dataTypeId" class="form-control"
                                    placeholder="Select Data Type" (selectionChange)="dataTypeCheck($event.value)">
                                    <mat-option *ngFor="let datattypes of kpiDataType" [value]="datattypes['lookupId']">
                                        {{datattypes['lookupName']}}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="KPIform.controls.dataTypeId.errors?.required && KPIform.controls.dataTypeId.touched">
                                    Data Type is required</mat-error>
                            </div>
                        </div>
                        <div *ngIf="rangeApplicableDataType" class="form-group">
                                <label class="col-md-12 lblfnt"> Min Value:&nbsp;<span class="badge"> {{rangeValues[0]}} </span> &nbsp; Max Value:&nbsp;<span class="badge"> {{rangeValues[1]}} </span></label>
                                <div class="col-md-12 margin-top5">
                                    <p-slider [(ngModel)]="rangeValues"  formControlName="minMax"  [style]="{'width':'14em'}" [range]="true" class='noborder'></p-slider>
                                    <mat-error
                                    *ngIf="KPIform.controls.minMax.errors?.required && KPIform.controls.minMax.touched">
                                    Please Select Range</mat-error>
                                </div>
                            </div>
                        <div class="form-group">
                            <label class="col-md-12 lblfnt required">Priority Type</label>
                            <div class="col-md-12">
                                <mat-radio-group formControlName="PriorityTypeId">
                                    <mat-radio-button *ngFor="let higherOrLower of KPIHigherOrLower"
                                        [value]="higherOrLower['lookupId']">{{higherOrLower['lookupName']}}
                                        &nbsp; &nbsp;</mat-radio-button>
                                </mat-radio-group>
                                <mat-error
                                    *ngIf="KPIform.controls.PriorityTypeId.errors?.required && KPIform.controls.PriorityTypeId.touched">
                                    Please Select Type</mat-error>
                            </div>
                        </div>
                        <mat-slide-toggle formControlName="isScope" (change)="removeScopeAlias()" [(ngModel)]="isScopeApplicable">Is Scope Applicable
                        </mat-slide-toggle>
                        <div *ngIf="isScopeApplicable==true" class="form-group margin-top5">
                            <label class="col-md-12 required">Scope</label>
                           <div class="col-sm-12">
                               <div class="col-md-4 no-padding">
                                    <input maxlength="50" class="form-control" type="text" formControlName="scopeAlias"
                                    placeholder="Please Enter Scope Alias Name">
                               </div>
                                <div class="col-md-8 no-padding pull-right">
                                        <a class="pull-right margin-top20" (click)="downloadScopesample()">Download Sample</a>
                                </div>
                           </div>
                            <div class="col-md-12">
                                <div class="input-icon right">
                                    <i class="fa fa-file-excel-o"></i>
                                    <input
                                        accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                        maxlength="50" class="form-control" type="file" formControlName="filescopeinput" [(ngModel)]="fileScopeInput"
                                        (change)="handleFileSelect($event)">
                                    <label *ngIf="fileName!=null" class="lblfnt">Existing File:&nbsp;</label>
                                    <span>{{fileName}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="allforms == 'addKPI'" class="pull-right margin-top25">
                            <button [disabled]="!KPIupsertform.form.valid" [ngClass]="{'customDisabled': !customValidation()}" class="btn btn-success"
                                type="submit">Save</button>
                        </div>
                        <div *ngIf="allforms == 'updateKPI'" class="pull-right margin-top25">
                            <button [disabled]="!KPIupsertform.form.valid" [ngClass]="{'customDisabled': !customValidation()}" class="btn btn-success marginbtn"
                                type="submit">Update</button>
                            <!-- <button type="button" (click)="onDeleteKPI(KPIform.value)" class="btn btn-danger marginbtn" data-toggle="modal" data-tooltip="tooltip" data-placement="top" title=""
                         data-original-title="Delete">
                            <i class="fa fa-trash"></i>
                        </button> -->
                            <button type="button" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [confirmText]="confirmText" [cancelText]="cancelText" [popoverMessage]="popoverMessage"
                                placement="left" (confirm)="onDeleteKPI(KPIform.value)" class="btn btn-danger marginbtn"
                                data-toggle="modal" data-tooltip="tooltip" data-original-title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

