<mat-sidenav-container>
    <!-- Forgot Password Form -->
        <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
             <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
                  <mat-card class="p-0 mat-elevation-z24 box">
                      <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                          <img *ngIf="settings.menu == 'horizontal'" src="../../assets/CEO.png" routerLink="/dashboard" alt="logo"
                              class="logo-default logo-img img img-responsive imgmediamain logoimg" style="max-width: 167px; margin-top: 7px; margin-left:5px;">
                      </div>
                      <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                          <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                              <span class="box-content-header" style="margin-bottom: 15px; color: #283593 !important;">Forget Password ?</span>  
                              <span>Please enter your e-mail address below to reset your password.</span>
                              <mat-form-field class="w-100">
                                  <input matInput placeholder="Email" formControlName="email">
                                  <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                                  <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                              </mat-form-field>
                          </mat-card>
                          <div class="">
                              <button routerLink="/login" class="col-sm-5 mat-elevation-z12 box-button" color="primary" style="margin-top: 1px;"  mat-raised-button>BACK</button>
                            <div class="col-sm-2"></div>
                            <button class="col-sm-5 mat-elevation-z12 box-button pull-right" mat-raised-button color="primary" style="margin-right: 18px;" type="submit">SUBMIT</button>
                          </div>
                      </mat-card-content>
                  </mat-card>
              </form>    
        </div>
      </mat-sidenav-container>