.greybackground{
    background: #e7e7e7 !important;
}


::ng-deep body .ui-corner-top {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

 ::ng-deep .panelcustom .ui-widget {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif !important;
    font-size: 16px;
    text-decoration: none;
    border: 0px !important;
    height: 0px !important;
} 


::ng-deep .customValidMessage .ui-widget {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif !important;
    font-size: 16px;
    text-decoration: none;
    border: 0px !important;
    height: auto !important;
} 

::ng-deep body .ui-tabmenu .ui-tabmenu-nav {
    padding: 0;
    background: transparent;
    float: right !important;
}

::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    background-color: #1568b0 !important;
    border: 1px solid #1568b0 !important;
}

::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text{
    color:white;
    margin-right: 0.5em;
}

::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
    color: white !important;
    margin-right: 0.5em;
}


::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    position: static;
    border: 1px solid #67809f;
    background-color: #67809f;
    margin-right: 2px;
    margin-bottom: -1px;
    transition: background-color 0.2s;
}


.panelcustom{
    margin-bottom: 11px;
}

.custombord{
    padding-right: 0px;
    border-bottom: 1px solid #c8c8c8;
}

.spansize{
    font-size: 15px !important;
    color: #302f2d !important;
}
.headingdata{
    font-size: 19px;
    padding-left: 5px;
    margin-top: 7px;
    font-weight: 500;
}

::ng-deep .app.indigo-light .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #207ede !important;
}

 ::ng-deep .mat-radio-inner-circle, .app.indigo-light .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .app.indigo-light .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .app.indigo-light .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #40c1ff !important;
}

::ng-deep .mat-radio-outer-circle {
    box-sizing: border-box;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: border-color ease 280ms;
    width: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50% !important;
}

::ng-deep .mat-radio-inner-circle {
    border-radius: 50% !important;
    box-sizing: border-box;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform ease 280ms,background-color ease 280ms;
    width: 20px;
    transform: scale(.001);
}

::ng-deep .mat-radio-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 9px !important;
}

.tableinput{
    width: 90px !important;
    margin-right: 0px;
    display: initial;
}

:host /deep/ a.sort.asc::after, a.sort.desc::after {
    content: '';
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    border-bottom: 4px solid #fff !important;
    border-top: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    margin-bottom: 2px;
}

// :host /deep/ .ng2-smart-action {
//     color: #3e4798 !important;
//     margin: 2px;
// }

:host /deep/  .iconred{
  color: red !important;
  margin: 2px;
  font-size: 15px;
  margin-left: 4px;
}
:host /deep/ .iconblue{
    color: #89C4F4 !important;
    margin: 2px;
    font-size: 15px;
    margin-right: 4px;
}


::ng-deep .mat-card-header-text{
    margin: 0px !important; 
}


:host /deep/ ng2-smart-table table  { 
    font-size: 17px;
 } 


::ng-deep .ngsmarttable a {
    color: azure !important;
    text-decoration: none !important;
 }

 ::ng-deep .ng2-smart-filters{
     display: none !important;
 }

 :host /deep/ ng2-smart-table table th  { 
    background-color: #3e4798;
    color: azure;
    font-weight: 500 !important;
 } 


.margin8{
    margin-left: 8px !important;
}

.removeborder:hover{
    background-color: #fafafa !important;
}

.customDisabled{
    background-color: #45B6AF;
    border-color: #3ea49d;
    cursor: not-allowed;
    pointer-events:none !important;
    opacity: .65;
}